/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

/*cuerpo de la página*/
body {
    font-size: 19px;
    background-color: #61BCB2;
}


body.page-node-{
    background-color: #BE1622;
    background-image: url('../images/fondo-entrada-gris.jpg');
    background-size: cover;
}

body.Alumnado {
    background-image: url('images/morado.jpg');
    background-attachment: fixed;
}

body.Estudiar {
    background-image: url('images/verde.jpg');
    background-attachment: fixed;
}

body.Profesorado {
    background-image: url('images/verdeclaro.jpg');
    background-attachment: fixed;
}

body.Empresas {
    background-image: url('images/marron.jpg');
    background-attachment: fixed;
}



body.page-root-perfiles{
    color:white;
}



.mp-Alumnado{
  background-color: orange;
  background-image: url('images/morado.jpg');
  background-attachment: fixed;
}

a {
    color: black;
    font-size: 90%;
}

a:hover{
    color: darkslategrey;
    text-decoration: none;
    
}

h1#page-title{
    font-size: 250%;
    color: white;
    margin-top: -25px;
    margin-left: 30px
}

#main-content{
    padding-top: 0px;
}


body.not-front .cuerpo {
    background-color: white;
}

body.page-root-perfiles .cuerpo {
    background-color: transparent;
}

body.node-type-article .cuerpo{
    background-color: #61BCB2;
    color:darkslateblue;
    padding: 25px;
}

.cuerpo{
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top:20px;
}

#main-content .well {
    background-color: transparent;
    border-color: transparent;
}

.mc-content{
    padding-left: 0px;
    padding-right: 0px;
}

.region-content{
    padding-top: 0px;
}

/* ----- header region --------------- */
.header { padding-top:0px; background-color: black;color: white; position:fixed;z-index: 15;width:100%;}
.header-content { clear:both; }
.header .nav > li > a {padding: 0px;color:white;font-size:80%;}
.header .nav > li > a:hover {padding: 0px;color:lightgray; background-color: black;}
/* menu-fijo */
.header-content .block-menu > ul > li {float: left; padding-left: 15px;}
.header-content .block-menu > div > ul > li > a:hover {background:darkgray;}
/* language switcher */
ul.language-switcher-locale-url {list-style: none;margin-bottom: 0px;padding-right: 10px;  }
ul.language-switcher-locale-url li {float: right;margin-left: 6px;margin-bottom: 1px;}

/* ----- sobre carrusel ---- */
.banner {
    position:relative;
    top: 27px;
    z-index: 9;
    width:100%;
}

.item img{
    width: 100%;
}

.carousel-indicators {
    position: relative;
    width: 200px;
    text-align: left;
    margin: 0px auto;
    left: 0%;
    top: -50px;
}

#Noticias{
    background-color: #61BCB2;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    color: darkslateblue;
}

.noticias-view{
    display:inline-block;
}

/* ----menu perfiles----- */

.perfiles ul.menu{
     background-color:#BE1622; 
}

.perfiles ul.menu > li.leaf{
    float: left;
}

.perfiles ul.menu > li.leaf:hover{
    opacity: 0.75;
    color:white;
    
}

.perfiles ul.menu > li.leaf > a{
    color: whitesmoke;
    text-align: right;
    font-size:120%; 
    padding-top: 55px;
}

#sidebar-first{
    padding-left: 10px;
    top: -20px;
}


.region-sidebar-first{
    margin-top: 0px;
    padding-left: 0px;
}


body.page-root-perfiles #sidebar-first .nav > li > a {
    color:white;
    border-bottom-color: white;
}

body.page-root-perfiles .nav > li > a:hover, .nav > li > a:focus{
    background-color: transparent;
}

#sidebar-first .nav > li > a {
    color:#BE1622;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #BE1622;
    font-size: 100%;
}

#sidebar-first .nav > li > a:hover {
    background-color: transparent;
}

.perfiles .nav > li > a:hover {
    background-color: #BE1622;
}

.logo-navigation{
    padding-top: 23px;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color:#BE1622; 
    opacity: 0.80;
}



ol.breadcrumb{
    margin-top: 130px;
    background-color: initial;
    float:right;
    font-size: 80%;
}

ol.breadcrumb li a{
    color:white;
}

.breadcrumb > .active {
    color:white;
}

#main-content-frontpage{
    padding-top: 0px;
}

.main-top{
font-size: 100%;
font-stretch: extra-condensed;
width: 155px;
position: fixed;
right: 0px;
top: 185px;
z-index: 35;
transition: right 0.15s ease-out 0s;
}

.main-top a {
    width:145px;
    height: 75px;
    line-height: 75px;
    color: darkred;
    display: block;
    background: url('images/cta.png') no-repeat scroll 0px -76px transparent;
    margin-bottom: 4px;
    padding-left: 20px;
    float: right;
    transition: width 0.2s ease-out 0s;
}

.main-top a:hover {
    background-position: 0px 0px;
    width: 155px;
    text-decoration: none;
}

#block-views-cuadrado-block h2 {
    display: block;
    height: 32px;
    line-height: 32px;
    color: #FFF;
    padding: 0px 18px;
    border-radius: 3px;
    background-color: #383838;
    right: 50%;
}

.separador{
    padding-bottom: 30px;
    background-image: url('images/bg_ausias_mini.gif');
    color: brown;
}

.separator img{
    padding: 0 25px;

}

.sep-derecha .imagen-page{
    float:right;
}

.sep-izquierdo .imagen-page{
    float:left;
}

#footer{
    background-color: black;
    text-align: center;
    color: white;
    font-size:80%;
}

#footer a{
    color:whitesmoke;
}

#footer a:hover{
    color:white;
}

img.izquierda{
   float: left;
   padding: 1em;
}

img.derecha{
   float: right;
   padding: 1em;
}

@media (min-width: 1199px) {
.row {
    max-width: 1170px;
    width: 100%;
    margin: 0px auto;
}
}
